AWS_REGION=us-east-1
AWS_ACCOUNT_ID=123456789012
ENVIRONMENT=dev
PROJECT_NAME=enterprise-data-platform

ECR_REGISTRY=123456789012.dkr.ecr.us-east-1.amazonaws.com
K8S_NAMESPACE=data-platform

SNOWFLAKE_ACCOUNT=your-account
SNOWFLAKE_USER=svc_dbt
SNOWFLAKE_ROLE=TRANSFORMER_ROLE
SNOWFLAKE_WAREHOUSE=TRANSFORMING_WH
SNOWFLAKE_DATABASE=ENTERPRISE_ANALYTICS
SNOWFLAKE_SCHEMA=DBT

SLACK_WEBHOOK_SECRET_ARN=arn:aws:secretsmanager:us-east-1:123456789012:secret:data-platform/slack-webhook
ALERT_EMAIL=data-platform-alerts@example.com

KAFKA_BOOTSTRAP_SERVERS=b-1.example.kafka.us-east-1.amazonaws.com:9098,b-2.example.kafka.us-east-1.amazonaws.com:9098
DATA_LAKE_BUCKET=enterprise-data-platform-dev-lake
ARTIFACT_BUCKET=enterprise-data-platform-dev-artifacts
